@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

a{
  color: black !important;
}

h7 {
  text-shadow:  1px 1px 8px #000000;
}

h4 {
  font-family: 'Potta One', cursive;
}

.brand-logo{
  font-family: 'Potta One', cursive;
}


/* For Mobile */
@media screen and (min-width: 60px) and (max-width: 480px) {
nav ul a{
  padding: 0 5px  !important;
}
nav .brand-logo.left{
  font-size: 20px;
}
}

/* For TV */
@media screen and (min-width: 1201px) {
  .brand-logo {
    margin-left: 100px;
  }
  .btn-group {
    margin-right: 100px
  }
}

.card-image img{
  max-height: 450px;
}

.dropdown-content {
  min-width: 180px;
}

.sidenav-trigger {
  margin: 0, 10px;
}
.mycard{
  margin-top: 30px;
}
.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto
}

/* Changing the text input color when selected */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #BAF2D8 !important;
  box-shadow: 0 1px 0 0 #BAF2D8 !important;
}

/* Styles for gallery div */
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Styles for gallery items */
.gallery-item{
  width: 30%;
}

/* Styles for home page parent div */
.home{
  
}

/* Styles for Home page card */
.home-card{
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
}

/* Toast message styles */
#toast-container{
  top:100px !important;
  right: 40px !important;
  left: auto !important;
  
}

/* Profile Image hover */

.image{
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.hover-btn{
transition: .5s ease;
opacity: 0;
position: fixed;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
}

.img-hover{
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-hover:hover .image {
  opacity: 0.5;
}

.img-hover:hover .hover-btn{
  opacity: 1;
}